head
    title #{titulo}
    link(rel="stylesheet", href="../styles/section_style.css")

body

    div(class="header")
       a(href="../index.html") Online Shop

    div(class="main")
        if(elements)
            each element in elements
                div(class='item')
                    img(src='/images/' + element.image_url)

                    div(class='description')                
                        h3 #{element.nombre}
                        p #{element.tipo}
                        p #{element.marca}
                        p $#{element.precio}
        else
            p(class='notFound') No se encontraron elementos que coincidan con la busqueda                    

    div(class="footer")


